@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  color: #342e37;
  background: #EBEBEB;
  line-height: 1.2;
  overflow-x: hidden;

}

h1 {
  display: inline-block;
  font-size: 4.2rem;
}

h1 span {
  max-width: 100%; /* or adjust accordingly */
  display: inline-block; /* Ensures it doesn't break onto a new line */
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

input.text {
  padding: 3px;
  border: 1px solid #999999;
}

/* Tables
    -----------------------------------------------------------------------------*/

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
  font-weight: normal;
}